<div class="jumbotron">
  <div id="center">
    <h1 id="">Secure Web Zone, Inc.</h1>
    <p>The company has a formal license, is a fast-growing, innovative technology and lead the application of network technology company. Products and customer service, software systems, network architecture and other related business matters, we are a network service technology trusted by customers.</p>
    <p>We specially set up a 24-hour customer service center to answer all questions for customers with the most cordial and courteous service purpose. No matter any questions, promotional opinions, praises or complaints, our customer service center welcomes you to contact us at any time.</p>
    <%= link_to 'Read more', "#", class: "btn btn-success btn-lg" %>
  </div>
</div>